h1, h2, h3, h4, h5, h6 {
  margin:0;
}

.App {
  text-align: center;
  font-family: "Droid Sans",sans-serif
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 3rem;
}

.header-grid .grid-3 {
  grid-column: 1 / span 3;
}

.header-grid .grid-1 {
  grid-column: 4 / span 1;
}

rect.overlay {
  opacity: 0;
}

rect.selection {
  fill: #FE9922;
  opacity: 0.5;
}

rect.handle {
  fill: #FE9922;
  opacity: 0.25;
}

path.countries {
  stroke-width: 1;
  stroke: #75739F;
  fill: #5EAFC6;
}

button.active {
  background:#e8e8e8;
}

button.active span.MuiButton-label {
  font-weight: bold;
}

.chart-header {
  text-align:left;
}

.chart-footer {
  text-align:right;
  color: #999;
}

.MuiTableCell-root, .MuiMenuItem-root, .MuiButton-root {
  font-family: "Droid Sans",sans-serif !important
}
