.App {
  text-align: center;
  font-family: "Droid Sans",sans-serif
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

rect.overlay {
  opacity: 0;
}

rect.selection {
  fill: #FE9922;
  opacity: 0.5;
}

rect.handle {
  fill: #FE9922;
  opacity: 0.25;
}

path.countries {
  stroke-width: 1;
  stroke: #75739F;
  fill: #5EAFC6;
}

button.active {
  background:#e8e8e8;
}

button.active span.MuiButton-label {
  font-weight: bold;
}

.chart-header {
  text-align:left;
  margin-bottom:2rem;
}

.chart-footer {
  text-align:right;
  color: #999;
}

.MuiTableCell-root, .MuiMenuItem-root, .MuiButton-root {
  font-family: "Droid Sans",sans-serif !important
}
